body {
    padding: 0;
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}

/* =================
Add more styles here!
================= */
img {
	width:100px;
	height:100px;
}
.column {
  width: 100%;
  padding: 20px;
}
.column1 {
  width: 100%;
  padding: 20px;
}
.column h1 {
  text-align: center;
	font-family: Verdana, sans-serif;
  color:#000000;
}

.column p {
  text-align: center;
  margin-left: 5px;
  font-size:30px;
  font-family: Garamond, serif;
}

.column h4{
  width: 25%;
  margin-top: 10px;
  margin-right: 37.5%;
  margin-left: 37.5%;
  text-align: center;
  font-family: Garamond, serif;
  font-size:20px;
  color: #FAF0E6;
  background-color: #20B2AA;
}
.column1 h4{
  width: 25%;
  margin-top: 10px;
  margin-right: 37.5%;
  margin-left: 37.5%;
  text-align: center;
  font-family: Garamond, serif;
  font-size:20px;
  color: #FAF0E6;
  background-color: #708090;
}

.row-two{
  clear: both;
  margin: 0 0px;
  background-color:  #C0C0C0 ;
}
.row-two h2 {
  width: 25%;
  margin-top: 10px;
  margin-right: 37.5%;
  margin-left: 37.5%;
  text-align: center;
	font-family: Verdana, sans-serif;
  color:#000000;
}


.column-two{
  width: 50%;
  float: inherit;
  padding: 20px;
}
.column-three {
  width: 75%;
  float: inherit;
  padding: 20px;
}
.column-four {
  width: 100%;
  float: inherit;
  padding: 20px;
}
