/* =================
Add more styles here!
================= */

body {
    padding: 0;
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}

.map {
    position: absolute;
    right: 0px;
    left: 340px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 340px;
    top: 0;
    bottom: 0;
    padding: 20px;
}


h1 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
}

a {
  margin-left: 5px;
  margin-bottom: 15px;
  font-family: Verdana, sans-serif;
}

p{
  margin-left: 5px;
  margin-bottom: 15px;
  font-size:30px;
  font-family: Garamond, serif;
  color: #000000;
}



h2 {
  font-family: Verdana, sans-serif;
  color: #F4EBC3;
  background-color: #DCDCDC;
}

h3 {
  font-family: Verdana, sans-serif;
  color: #000000;
  background-color: #DCDCDC;
}
